<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Diary App{% endblock %}</title>
</head>
<body>
    <div id="header">
        <h1>Crayola Dreams</h1>
        <div id="user-actions">
            {% if user.is_authenticated %}
                <p>Welcome, {{ user.username }}!</p>
                <a href="{% url 'logout' %}">Logout</a>
            {% else %}
                <a href="{% url 'login' %}">Login</a>
                <a href="{% url 'signup' %}">Sign Up</a>
            {% endif %}
        </div>
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
