{% extends 'base_diary.html' %}

{% block content %}
  <h2>Create a New Diary</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="{{ form.title.id_for_label }}">Title:</label>
    {{ form.title }}
    <br>
    <label for="{{ form.content.id_for_label }}">Content:</label>
    {{ form.content }}
    <br>
    <label for="{{ form.image_url.id_for_label }}">Image:</label>
    {{ form.image_url }}
    <br>
    <button type="submit">Save</button>
  </form>
  <a href="{% url 'diary_list' %}">Cancel</a>
{% endblock %}
